.TomatoAction{
  .countDownWrapper,.inputWrapper{
    position: relative;
    text-align: center;
    >.abort{
      position: absolute;
      right: -6px;
      top: -6px;
      background: #fff;
      cursor: pointer;
    }
  }
.startTomatoButton{
  width: 100%;
}
}